<footer class="page-footer teal">
  <div class="container">
    <div class="row teal">
      <div class="col s12">
        <h5 class="white-text">cccode</h5>
        <blockquote class="white-text">Compile you code on different platforms, save it, share<br>Free compiling, free saving</blockquote>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      All rights reserved. (c) 2016
    </div>
  </div>
</footer>