<nav class="teal">
  <div class="nav-wrapper">
    <label class="brand-logo">cccode</label>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>About</a></li>
      <li><a>GitHub</a></li>
      <li><a>List of compilers</a></li>
      </ul>
  </div>
</nav>