body {
  background-color: #f2f2f2;
}

textarea {
  resize: none;
}

.CodeMirror {
  height: 400px;
}

.left {
  float: left;
  width: 67%;
  margin-left: 3%;
}

.right {
  float: right;
  width: 29%;
  padding-left: 1%;
}

.similar_width_code_area {
  width: 60%;
}

#code_area_submit, #code_area_log {
  margin-top: 5px;
}