html {
  background-color: #f2f2f2;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  padding-left: 3%;
  padding-right: 3%;
}

main {
  flex: 1 0 auto;
}

textarea {
  resize: none;
}

.row {
  background: #f2f2f2;
}

.CodeMirror {
  height: 600px;
}

#code_area_run, #code_area_save,#code_area_log, #code_editor_show {
  margin-top: 2.5%;
}